.slider {
    background: $base-red;
    padding: 52px 0 0;
}

.galery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.slider::after {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}